// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright 2019 NXP
 * Copyright 2020-2021 Variscite Ltd.
 */

 #include <dt-bindings/mux/mux.h>
 #include "imx8mp-var-som-ec_dsi_sai1.dtsi"

/ {
	model = "Variscite VAR-SOM-MX8M-PLUS-EC_DSI_SAI1 on M5Pro";

	chosen {
		stdout-path = &uart2;
	};

	reg_usdhc2_vmmc: regulator-usdhc2-vmmc {
		compatible = "regulator-fixed";
		regulator-name = "VSD_3V3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio4 22 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		startup-delay-us = <100>;
		off-on-delay-us = <12000>;
	};

	reg_usdhc2_vqmmc: regulator-usdhc2-vqmmc {
		compatible = "regulator-gpio";
		regulator-name = "VSD_VSEL";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio2 12 GPIO_ACTIVE_HIGH>;
		gpios-states = <1>;
		states = <3300000 0
			  1800000 1>;
	};

	sound_hdmi: sound_hdmi {
		compatible = "fsl,imx-audio-cdnhdmi";
		model = "audio-hdmi";
		audio-cpu = <&aud2htx>;
		hdmi-out;
		constraint-rate = <44100>,
				<88200>,
				<176400>,
				<32000>,
				<48000>,
				<96000>,
				<192000>;
		status = "okay";
	};

	dummy_codec1: dummy-codec1 {
		#sound-dai-cells = <0>;
		compatible = "linux,dummy-codec";
		//compatible = "linux,snd-soc-dummy";
		status = "okay";
	};

	dummy_codec2: dummy-codec2 {
		#sound-dai-cells = <0>;
		compatible = "linux,dummy-codec";
		//compatible = "linux,snd-soc-dummy";
		status = "okay";
	};

	sound-dummy-1 {
		compatible = "simple-audio-card";
		simple-audio-card,bitclock-master = <&dailink_master_1>;
		simple-audio-card,format = "i2s";
		simple-audio-card,frame-master = <&dailink_master_1>;
		simple-audio-card,name = "dummy-audio-1";

		simple-audio-card,codec {
			sound-dai = <&dummy_codec1>;
		};

		dailink_master_1: simple-audio-card,cpu {
			sound-dai = <&sai1>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
		};
	};

	sound-dummy-2 {
		compatible = "simple-audio-card";
		simple-audio-card,bitclock-master = <&dailink_master_2>;
		simple-audio-card,format = "i2s";
		simple-audio-card,frame-master = <&dailink_master_2>;
		simple-audio-card,name = "dummy-audio-2";

		simple-audio-card,codec {
			sound-dai = <&dummy_codec2>;
		};

		dailink_master_2: simple-audio-card,cpu {
			sound-dai = <&sai2>;
			dai-tdm-slot-num = <2>;
			dai-tdm-slot-width = <32>;
		};
	};

	extcon_usb1: extcon_usb1 {
		compatible = "linux,extcon-usb-gpio";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_extcon>;
		id-gpio = <&gpio1 5 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

//	parallel_panel {
//		compatible = "panel-dpi";
//		port {
//			panel_out_bridge: endpoint {
//				remote-endpoint = <&bridge_out_panel>;
//			};
//		};
//		panel-timing {
//			clock-frequency = <31250000>;
//			hactive = <800>;
//			vactive = <480>;
//			hfront-porch = <40>;
//			hback-porch = <86>;
//			hsync-len = <1>;
//			vback-porch = <30>;
//			vfront-porch = <13>;
//			vsync-len = <3>;
//
//			hsync-active = <0>;
//			vsync-active = <0>;
//			de-active = <1>;
//			pixelclk-active = <1>;
//		};
//	};
};

&aud2htx {
	status = "okay";
};

&eqos {
	mdio {
		ethphy1: ethernet-phy@5 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <5>;
			at803x,eee-disabled;
			at803x,vddio-1p8v;
			eee-broken-1000t;
		};
	};
};

//&mipi_dsi {
//		status = "okay";
//
//		port@1 {
//			dsi_out_bridge: endpoint {
//			remote-endpoint = <&bridge_in_dsi>;
//			attach-bridge;
//		};
//	};
//};

&i2c4 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c4>;
	scl-gpios = <&gpio5 20 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio5 21 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
	status = "okay";

	/* mcp7940x RTC module */
	rtc@6f {
		compatible = "microchip,mcp7940x";
		microchip,clock-output = <32768>;
		reg = <0x6f>;
		status = "okay";
	};

//	/* Capacitive touch controller */
	ctp: ctp@38 {
		compatible = "edt,edt-ft5206";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ctp>;
		interrupt-parent = <&gpio5>;
		interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
		wake-gpios = <&gpio5 5 GPIO_ACTIVE_HIGH>;
		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
		wakeup-source;
		status = "okay";
	};

//	icn6211@2c {
//		compatible = "chipone,icn6211";
//		reg = <0x2c>;
//		enable-gpios = <&gpio5 27 GPIO_ACTIVE_HIGH>; /* LCD-RST: icn6211 pin 11 */
//		pinctrl-0 = <&pinctrl_icn6211>;
//		status = "okay";
//		ports {
//			#address-cells = <1>;
//			#size-cells = <0>;
//			port@0 {
//				reg = <0>;
//				bridge_in_dsi: endpoint {
//					remote-endpoint = <&dsi_out_bridge>;
//				};
//			};
//			port@1 {
//				reg = <1>;
//				bridge_out_panel: endpoint {
//					remote-endpoint = <&panel_out_bridge>;
//				};
//			};
//		};
//	};

	pi6cfgl601b@69 {
		compatible = "dummy";
		reg = <0x69>;
		status = "okay";
	};
};

&i2c2 {
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c2>;
	scl-gpios = <&gpio5 16 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
	sda-gpios = <&gpio5 17 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
	status = "okay";

	mfi@10 {
		compatible = "dummy";
		reg = <0x10>;
		status = "okay";
	};

	mux@71 {
		compatible = "nxp,pca9548";
		reg = <0x71>;
		#address-cells = <1>;
		#size-cells = <0>;
		idle-state =  <MUX_IDLE_AS_IS>;

		i2c@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;

			o1_es9033: es9033@48 {
				compatible = "dummy";
				reg = <0x48>;
				status = "okay";
			};

			o1_es9033_sync: es9033@4c {  // before es9033 has clock initialized, _sync address must be used for write-only initialization of clock registers
				compatible = "dummy";
				reg = <0x4c>;
				status = "okay";
			};

			o1_src4392: src4392@70 {
				compatible = "dummy";
				reg = <0x70>;
				status = "okay";
			};
		};

		i2c@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;

			o2_es9033: es9033@48 {
				compatible = "dummy";
				reg = <0x48>;
				status = "okay";
			};

			o2_es9033_sync: es9033@4c {  // before es9033 has clock initialized, _sync address must be used for write-only initialization of clock registers
				compatible = "dummy";
				reg = <0x4c>;
				status = "okay";
			};

			o2_src4392: src4392@70 {
				compatible = "dummy";
				reg = <0x70>;
				status = "okay";
			};
		};

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;

			o3_es9033: es9033@48 {
				compatible = "dummy";
				reg = <0x48>;
				status = "okay";
			};

			o3_es9033_sync: es9033@4c {  // before es9033 has clock initialized, _sync address must be used for write-only initialization of clock registers
				compatible = "dummy";
				reg = <0x4c>;
				status = "okay";
			};

			o3_src4392: src4392@70 {
				compatible = "dummy";
				reg = <0x70>;
				status = "okay";
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;

			o4_es9033: es9033@48 {
				compatible = "dummy";
				reg = <0x48>;
				status = "okay";
			};

			o4_es9033_sync: es9033@4c {  // before es9033 has clock initialized, _sync address must be used for write-only initialization of clock registers
				compatible = "dummy";
				reg = <0x4c>;
				status = "okay";
			};

			o4_src4392: src4392@70 {
				compatible = "dummy";
				reg = <0x70>;
				status = "okay";
			};
		};

		i2c@4 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <4>;

			o5_es9033: es9033@48 {
				compatible = "dummy";
				reg = <0x48>;
				status = "okay";
			};

			o5_es9033_sync: es9033@4c {  // before es9033 has clock initialized, _sync address must be used for write-only initialization of clock registers
				compatible = "dummy";
				reg = <0x4c>;
				status = "okay";
			};

			o5_src4392: src4392@70 {
				compatible = "dummy";
				reg = <0x70>;
				status = "okay";
			};
		};

		i2c@5 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <5>;

			i1_es9820: es9820@20 {
				compatible = "dummy";
				reg = <0x20>;
				status = "okay";
			};

			i1_es9820_sync: es9820@24 {  // before es9820 has clock initialized, _sync address must be used for write-only initialization of clock registers
				compatible = "dummy";
				reg = <0x24>;
				status = "okay";
			};

			i2_es9820: es9820@21 {
				compatible = "dummy";
				reg = <0x21>;
				status = "okay";
			};

			i2_es9820_sync: es9820@25 {  // before es9820 has clock initialized, _sync address must be used for write-only initialization of clock registers
				compatible = "dummy";
				reg = <0x25>;
				status = "okay";
			};
		};

		i2c@6 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <6>;

			i3_src4392: src4392@70 {
				compatible = "dummy";
				reg = <0x70>;
				status = "okay";
			};
		};

		i2c@7 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <7>;

			i4_src4392: src4392@70 {
				compatible = "dummy";
				reg = <0x70>;
				status = "okay";
			};
		};
	};
};

&irqsteer_hdmi {
	status = "okay";
};

&hdmi_blk_ctrl {
	status = "okay";
};

&hdmi_pavi {
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmiphy {
	status = "okay";
};

/* MIPI-DSI */
&lcdif1 {
	status = "okay";
};

/* HDMI */
&lcdif3 {
	status = "okay";
	thres-low  = <1 2>;	/* (FIFO * 1 / 2) */
	thres-high = <3 4>;	/* (FIFO * 3 / 4) */
};

&mipi_dsi {
	status = "okay";
};

&pcie {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	reset-gpio = <&gpio5 11 GPIO_ACTIVE_LOW>;
	ext_osc = <1>;
	clocks = <&clk IMX8MP_CLK_HSIO_ROOT>,
		 <&clk IMX8MP_CLK_PCIE_AUX>,
		 <&clk IMX8MP_CLK_HSIO_AXI>,
		 <&clk IMX8MP_CLK_PCIE_ROOT>;
	clock-names = "pcie", "pcie_aux", "pcie_phy", "pcie_bus";
	assigned-clocks = <&clk IMX8MP_CLK_HSIO_AXI>,
			  <&clk IMX8MP_CLK_PCIE_AUX>;
	assigned-clock-rates = <500000000>, <10000000>;
	assigned-clock-parents = <&clk IMX8MP_SYS_PLL2_500M>,
				 <&clk IMX8MP_SYS_PLL2_50M>;
	l1ss-disabled;
	status = "okay";
};

&pcie_ep {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pcie>;
	ext_osc = <1>;
	clocks = <&clk IMX8MP_CLK_HSIO_ROOT>,
		 <&clk IMX8MP_CLK_PCIE_AUX>,
		 <&clk IMX8MP_CLK_HSIO_AXI>,
		 <&clk IMX8MP_CLK_PCIE_ROOT>;
	clock-names = "pcie", "pcie_aux", "pcie_phy", "pcie_bus";
	assigned-clocks = <&clk IMX8MP_CLK_HSIO_AXI>,
			  <&clk IMX8MP_CLK_PCIE_AUX>;
	assigned-clock-rates = <500000000>, <10000000>;
	assigned-clock-parents = <&clk IMX8MP_SYS_PLL2_500M>,
				 <&clk IMX8MP_SYS_PLL2_50M>;
	status = "disabled";
};

&pcie_phy {
	ext_osc = <1>;
	status = "okay";
};

/* Console */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usb3_phy0 {
//	fsl,phy-tx-vref-tune = <0xe>;
//	fsl,phy-tx-preemp-amp-tune = <3>;
//	fsl,phy-tx-vboost-level = <5>;
//	fsl,phy-comp-dis-tune = <7>;
//	fsl,pcs-tx-deemph-3p5db = <0x21>;
//	fsl,phy-pcs-tx-swing-full = <0x7f>;
	status = "okay";
};

&usb3_0 {
	status = "okay";
};

&usb_dwc3_0 {
	dr_mode = "host";
//	dr_mode = "otg";
//	hnp-disable;
//	srp-disable;
//	adp-disable;
	extcon = <&extcon_usb1>;
	status = "okay";
};

&usb3_phy1 {
//	fsl,phy-tx-preemp-amp-tune = <3>;
//	fsl,phy-tx-vref-tune = <0xb>;
	status = "okay";
};

&usb3_1 {
	status = "okay";
};

&usb_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2_100mhz>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2_200mhz>, <&pinctrl_usdhc2_gpio>;
	cd-gpios = <&gpio1 14 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	vqmmc-supply = <&reg_usdhc2_vqmmc>;
	bus-width = <4>;
	status = "okay";
};

&sai1 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai1>;
	assigned-clocks = <&clk IMX8MP_CLK_SAI1>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	clocks = 
		 <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI1_IPG>, 
		 <&clk IMX8MP_CLK_DUMMY>,
		 <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI1_MCLK1>, 
		 <&clk IMX8MP_CLK_DUMMY>,
		 <&clk IMX8MP_CLK_DUMMY>,
		 <&clk IMX8MP_AUDIO_PLL1_OUT>,
		 <&clk IMX8MP_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	fsl,sai-asynchronous;
	fsl,sai-multi-lane;
	fsl,dataline = <0 0xff 0xff>;
	dmas = <&sdma2 0 25 0>, <&sdma2 1 25 0>;
	status = "okay";
};

&sai2 {
	#sound-dai-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sai2>;
	assigned-clocks = <&clk IMX8MP_CLK_SAI2>;
	assigned-clock-parents = <&clk IMX8MP_AUDIO_PLL1_OUT>;
	assigned-clock-rates = <24576000>;
	clocks = 
		 <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI2_IPG>, 
		 <&clk IMX8MP_CLK_DUMMY>,
		 <&clk IMX8MP_CLK_DUMMY>,
		 <&audio_blk_ctrl IMX8MP_CLK_AUDIO_BLK_CTRL_SAI2_MCLK1>, 
		 <&clk IMX8MP_CLK_DUMMY>,
		 <&clk IMX8MP_AUDIO_PLL1_OUT>,
		 <&clk IMX8MP_AUDIO_PLL2_OUT>;
	clock-names = "bus", "mclk0", "mclk1", "mclk2", "mclk3", "pll8k", "pll11k";
	fsl,sai-asynchronous;
	status = "okay";
};

&gpio1 {
	gpio-line-names = 
		"",                      // 000 GPIO1_IO00
		"",                      // 001 GPIO1_IO01
		"WDOG_B",                // 002 GPIO1_IO02
		"",                      // 003 GPIO1_IO03
		"",                      // 004 GPIO1_IO04
		"",                      // 005 GPIO1_IO05
		"",                      // 006 GPIO1_IO06
		"",                      // 007 GPIO1_IO07
		"",                      // 008 GPIO1_IO08
		"",                      // 009 GPIO1_IO09
		"EQOS_RESET",            // 010 GPIO1_IO10
		"factory_n",             // 011 GPIO1_IO11 (pin 69)
		"",                      // 012 GPIO1_IO12
		"",                      // 013 GPIO1_IO13
		"USDHC2_CD",             // 014 GPIO1_IO14 (pin 80)
		"SDRESET_N",             // 015 GPIO1_IO15 (pin 29)
		"ENET_MDC",              // 016 GPIO1_IO16 (pin 74)
		"ENET_MDIO" ,            // 017 GPIO1_IO17 (pin 30)
		"ENET_TD3",              // 018 GPIO1_IO18
		"ENET_TD2",              // 019 GPIO1_IO19
		"ENET_TD1",              // 020 GPIO1_IO20
		"ENET_TD0",              // 021 GPIO1_IO21
		"ENET_TX_CTL",           // 022 GPIO1_IO22
		"ENET_TX_CLK",           // 023 GPIO1_IO23
		"ENET_RX_CTL",           // 024 GPIO1_IO24
		"ENET_RX_CLK",           // 025 GPIO1_IO25
		"ENET_RD0",              // 026 GPIO1_IO26
		"ENET_RD1",              // 027 GPIO1_IO27
		"ENET_RD2",              // 028 GPIO1_IO28
		"ENET_RD3",              // 029 GPIO1_IO29
		"",                      // 030 GPIO1_IO30
		"";                      // 031 GPIO1_IO31
};
&gpio2 {
	gpio-line-names = 
		"",                      // 032 GPIO2_IO00
		"",                      // 033 GPIO2_IO01
		"",                      // 034 GPIO2_IO02
		"",                      // 035 GPIO2_IO03
		"",                      // 036 GPIO2_IO04
		"",                      // 037 GPIO2_IO05
		"",                      // 038 GPIO2_IO06
		"",                      // 039 GPIO2_IO07
		"",                      // 040 GPIO2_IO08
		"",                      // 041 GPIO2_IO09
		"",                      // 042 GPIO2_IO10
		"",                      // 043 GPIO2_IO11
		"",                      // 044 GPIO2_IO12
		"USDHC2_CLK",            // 045 GPIO2_IO13 (pin 60)
		"USDHC2_CMD",            // 046 GPIO2_IO14 (pin 64)
		"USDHC2_D0",             // 047 GPIO2_IO15 (pin 62)
		"USDHC2_D1",             // 048 GPIO2_IO16 (pin 63)
		"USDHC2_D2",             // 049 GPIO2_IO17 (pin 61)
		"USDHC2_D3",             // 050 GPIO2_IO18 (pin 65)
		"",                      // 051 GPIO2_IO19
		"REG_EQOS",              // 052 GPIO2_IO20
		"",                      // 053 GPIO2_IO21
		"",                      // 054 GPIO2_IO22
		"",                      // 055 GPIO2_IO23
		"",                      // 056 GPIO2_IO24
		"",                      // 057 GPIO2_IO25
		"",                      // 058 GPIO2_IO26
		"",                      // 059 GPIO2_IO27
		"",                      // 060 GPIO2_IO28
		"",                      // 061 GPIO2_IO29
		"",                      // 062 GPIO2_IO30
		"";                      // 063 GPIO2_IO31
};
&gpio3 {
	gpio-line-names = 
		"",                      // 064 GPIO3_IO00
		"",                      // 065 GPIO3_IO01
		"USDHC3_STR",            // 066 GPIO3_IO02
		"USDHC3_D5",             // 067 GPIO3_IO03
		"USDHC3_D6",             // 068 GPIO3_IO04
		"USDHC3_D7",             // 069 GPIO3_IO05
		"",                      // 070 GPIO3_IO06 (pin 84)
		"",                      // 071 GPIO3_IO07
		"",                      // 072 GPIO3_IO08
		"",                      // 073 GPIO3_IO09
		"USDHC3_D0",             // 074 GPIO3_IO10
		"USDHC3_D1",             // 075 GPIO3_IO11
		"USDHC3_D2",             // 076 GPIO3_IO12
		"USDHC3_D3",             // 077 GPIO3_IO13
		"",                      // 078 GPIO3_IO14 (pin 79)
		"USDHC3_D4",             // 079 GPIO3_IO15
		"",                      // 080 GPIO3_IO16
		"USDHC3_CLK",            // 081 GPIO3_IO17
		"USDHC3_CMD",            // 082 GPIO3_IO18
		"",                      // 083 GPIO3_IO19
		"",                      // 084 GPIO3_IO20
		"",                      // 085 GPIO3_IO21
		"",                      // 086 GPIO3_IO22
		"",                      // 087 GPIO3_IO23
		"",                      // 088 GPIO3_IO24
		"",                      // 089 GPIO3_IO25
		"HDMI_SCL",              // 090 GPIO3_IO26 (pin 174)
		"HDMI_SDA",              // 091 GPIO3_IO27 (pin 176)
		"HDMI_CEC",              // 092 GPIO3_IO28 (pin 156)
		"HDMI_HPD",              // 093 GPIO3_IO29 (pin 154)
		"",                      // 094 GPIO3_IO30
		"";                      // 095 GPIO3_IO31
};
&gpio4 {
	gpio-line-names= 
		"SAI1_RX_SYNC",          // 096 GPIO4_IO00 (pin 82)
		"SAI1_RX_BCLK",          // 097 GPIO4_IO01 (pin 86)
		"SAI1_RX_D00",           // 098 GPIO4_IO02 (pin 70)
		"SAI1_RX_D01",           // 099 GPIO4_IO03 (pin 117)
		"SAI1_RX_D02",           // 100 GPIO4_IO04 (pin 72)
		"SAI1_RX_D03",           // 101 GPIO4_IO05 (pin 75)
		"",                      // 102 GPIO4_IO06 (pin 122)
		"",                      // 103 GPIO4_IO07 (pin 81)
		"",                      // 104 GPIO4_IO08 (pin 71)
		"",                      // 105 GPIO4_IO09 (pin 54)
		"SAI1_TX_SYNC",          // 106 GPIO4_IO10 (pin 120)
		"SAI1_TX_BCLK",          // 107 GPIO4_IO11 (pin 57)
		"SAI1_TX_D00",           // 108 GPIO4_IO12 (pin 73)
		"SAI1_TX_D01",           // 109 GPIO4_IO13 (pin 177)
		"SAI1_TX_D02",           // 110 GPIO4_IO14 (pin 56)
		"SAI1_TX_D03",           // 111 GPIO4_IO15 (pin 55)
		"SAI1_TX_D04",           // 112 GPIO4_IO16 (pin 113)
		"",                      // 113 GPIO4_IO17 (pin 96)
		"",                      // 114 GPIO4_IO18 (pin 77)
		"",                      // 115 GPIO4_IO19 (pin 173)
		"SAI1_MCLK",             // 116 GPIO4_IO20 (pin 40)
		"",                      // 117 GPIO4_IO21 (pin 23)
		"",                      // 118 GPIO4_IO22 (pin 22)
		"",                      // 119 GPIO4_IO23 (pin 21)
		"SAI2_TX_SYNC",          // 120 GPIO4_IO24 (pin 24)
		"SAI2_TX_BCLK",          // 121 GPIO4_IO25 (pin 25)
		"SAI2_TX_D00",           // 122 GPIO4_IO26 (pin 26)
		"SAI2_MCLK",             // 123 GPIO4_IO27 (pin 48)
		"trigin1_n",             // 124 GPIO4_IO28 (pin 196)
		"trigin2_n",             // 125 GPIO4_IO29 (pin 197)
		"trigin3_n",             // 126 GPIO4_IO30 (pin 198)
		"trigin4_n";             // 127 GPIO4_IO31 (pin 199)
};
&gpio5 {
	gpio-line-names = 
		"trigout1",              // 128 GPIO5_IO00 (pin 200)
		"trigout2",              // 129 GPIO5_IO01 (pin 18)
		"trigout3",              // 130 GPIO5_IO02 (pin 20)
		"CTPINT",                // 131 GPIO5_IO03 (pin 68)
		"PMIC_INT",              // 132 GPIO5_IO04
		"CTPWAKE",               // 133 GPIO5_IO05 (pin 17)
		"hwid0",                 // 134 GPIO5_IO06 (pin 53)
		"hwid1",                 // 135 GPIO5_IO07 (pin 52)
		"hwid2",                 // 136 GPIO5_IO08 (pin 50)
		"hwid3",                 // 137 GPIO5_IO09 (pin 51)
		"swoff",                 // 138 GPIO5_IO10 (pin 43)
		"PCIERST_N",             // 139 GPIO5_IO11 (pin 45)
		"bootcompl",             // 140 GPIO5_IO12 (pin 41)
		"pwrled",                // 141 GPIO5_IO13 (pin 39)
		"I2C1_SCL",              // 142 GPIO5_IO14 (pin 189)
		"I2C1_SDA",              // 143 GPIO5_IO15 (pin 187)
		"I2C2_SCL",              // 144 GPIO5_IO16 (pin 193)
		"I2C2_SDA",              // 145 GPIO5_IO17 (pin 191)
		"",                      // 146 GPIO5_IO18 (pin 88)
		"",                      // 147 GPIO5_IO19 (pin 87)
		"I2C4_SCL",              // 148 GPIO5_IO20 (pin 92)
		"I2C4_SDA",              // 149 GPIO5_IO21 (pin 90)
		"hwrev0",                // 150 GPIO5_IO22 (pin 175)
		"hwrev1",                // 151 GPIO5_IO23 (pin 124)
		"UART2_RX",              // 152 GPIO5_IO24 (pin 83)
		"UART2_TX",              // 153 GPIO5_IO25 (pin 85)
		"pwroff",                // 154 GPIO5_IO26 (pin 44)
		"ICN6211_EN",            // 155 GPIO5_IO27 (pin 46)
		"trigout4",              // 156 GPIO5_IO28 (pin 115)
		"trigout5",              // 157 GPIO5_IO29 (pin 171)
		"",                      // 158 GPIO5_IO30
		"";                      // 159 GPIO5_IO31
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	pinctrl_hog: hoggrp {
		fsl,pins = <
			MX8MP_IOMUXC_HDMI_DDC_SCL__HDMIMIX_HDMI_SCL			0x400001c2
			MX8MP_IOMUXC_HDMI_DDC_SDA__HDMIMIX_HDMI_SDA			0x400001c2
			MX8MP_IOMUXC_HDMI_HPD__HDMIMIX_HDMI_HPD				0x40000010
			MX8MP_IOMUXC_HDMI_CEC__HDMIMIX_HDMI_CEC				0x40000010


			MX8MP_IOMUXC_GPIO1_IO11__GPIO1_IO11					0x00

			MX8MP_IOMUXC_SAI3_RXFS__GPIO4_IO28					0x00
			MX8MP_IOMUXC_SAI3_RXC__GPIO4_IO29					0x00
			MX8MP_IOMUXC_SAI3_RXD__GPIO4_IO30					0x00
			MX8MP_IOMUXC_SAI3_TXFS__GPIO4_IO31					0x00

			MX8MP_IOMUXC_SAI3_TXC__GPIO5_IO00					0xc6
			MX8MP_IOMUXC_SAI3_TXD__GPIO5_IO01					0xc6
			MX8MP_IOMUXC_SAI3_MCLK__GPIO5_IO02					0xc6
			MX8MP_IOMUXC_ECSPI1_SCLK__GPIO5_IO06				0x00
			MX8MP_IOMUXC_ECSPI1_MOSI__GPIO5_IO07				0x00
			MX8MP_IOMUXC_ECSPI1_MISO__GPIO5_IO08				0x00
			MX8MP_IOMUXC_ECSPI1_SS0__GPIO5_IO09					0x00
			MX8MP_IOMUXC_ECSPI2_SCLK__GPIO5_IO10				0x00
			MX8MP_IOMUXC_ECSPI2_MISO__GPIO5_IO12				0xc6
			MX8MP_IOMUXC_ECSPI2_SS0__GPIO5_IO13					0xc6
			MX8MP_IOMUXC_UART1_RXD__GPIO5_IO22					0x00
			MX8MP_IOMUXC_UART1_TXD__GPIO5_IO23					0x00
			MX8MP_IOMUXC_UART4_RXD__GPIO5_IO28					0xc6
			MX8MP_IOMUXC_UART4_TXD__GPIO5_IO29					0xc6

			MX8MP_IOMUXC_I2C3_SCL__GPIO5_IO18					0x1c2
			MX8MP_IOMUXC_I2C3_SDA__GPIO5_IO19					0x1c2
		>;
	};

	pinctrl_i2c4: i2c4grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C4_SCL__I2C4_SCL						0x400001c2
			MX8MP_IOMUXC_I2C4_SDA__I2C4_SDA						0x400001c2
		>;
	};

	pinctrl_i2c2: i2c2grp {
		fsl,pins = <
			MX8MP_IOMUXC_I2C2_SCL__I2C2_SCL						0x400001c2
			MX8MP_IOMUXC_I2C2_SDA__I2C2_SDA						0x400001c2
		>;
	};

	pinctrl_uart2: uart2grp {
		fsl,pins = <
			MX8MP_IOMUXC_UART2_RXD__UART2_DCE_RX				0x40
			MX8MP_IOMUXC_UART2_TXD__UART2_DCE_TX				0x40
		>;
	};

	pinctrl_usdhc2_gpio: usdhc2grp-gpio {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO14__GPIO1_IO14 				0x1c4
			MX8MP_IOMUXC_GPIO1_IO15__GPIO1_IO15					0x10
			MX8MP_IOMUXC_SD2_CD_B__GPIO2_IO12					0xc0
		>;
	};

	pinctrl_usdhc2: usdhc2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK					0x190
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD					0x1d0
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0				0x1d0
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1				0x1d0
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2				0x1d0
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3				0x1d0
		>;
	};

	pinctrl_usdhc2_100mhz: usdhc2grp-100mhz {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK					0x194
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD					0x1d4
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0				0x1d4
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1				0x1d4
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2				0x1d4
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3				0x1d4
		>;
	};

	pinctrl_usdhc2_200mhz: usdhc2grp-200mhz {
		fsl,pins = <
			MX8MP_IOMUXC_SD2_CLK__USDHC2_CLK					0x196
			MX8MP_IOMUXC_SD2_CMD__USDHC2_CMD					0x1d6
			MX8MP_IOMUXC_SD2_DATA0__USDHC2_DATA0				0x1d6
			MX8MP_IOMUXC_SD2_DATA1__USDHC2_DATA1				0x1d6
			MX8MP_IOMUXC_SD2_DATA2__USDHC2_DATA2				0x1d6
			MX8MP_IOMUXC_SD2_DATA3__USDHC2_DATA3				0x1d6
		>;
	};

	pinctrl_ctp: ctpgrp {
		fsl,pins = <
			MX8MP_IOMUXC_SPDIF_TX__GPIO5_IO03 					0x16
			MX8MP_IOMUXC_SPDIF_EXT_CLK__GPIO5_IO05          	0x01
		>;
	};

	pinctrl_pcie: pciegrp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_MOSI__GPIO5_IO11				0x40
		>;
	};
	pinctrl_sai1: sai1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI1_MCLK__AUDIOMIX_SAI1_MCLK			0xd6
			MX8MP_IOMUXC_SAI1_RXFS__AUDIOMIX_SAI1_RX_SYNC		0xd6
			MX8MP_IOMUXC_SAI1_RXC__AUDIOMIX_SAI1_RX_BCLK		0xd6
			MX8MP_IOMUXC_SAI1_RXD0__AUDIOMIX_SAI1_RX_DATA00		0xd6
			MX8MP_IOMUXC_SAI1_RXD1__AUDIOMIX_SAI1_RX_DATA01		0xd6
			MX8MP_IOMUXC_SAI1_RXD2__AUDIOMIX_SAI1_RX_DATA02		0xd6
			MX8MP_IOMUXC_SAI1_RXD3__AUDIOMIX_SAI1_RX_DATA03		0xd6
			MX8MP_IOMUXC_SAI1_TXFS__AUDIOMIX_SAI1_TX_SYNC		0xd6
			MX8MP_IOMUXC_SAI1_TXC__AUDIOMIX_SAI1_TX_BCLK		0xd6
			MX8MP_IOMUXC_SAI1_TXD0__AUDIOMIX_SAI1_TX_DATA00		0xd6
			MX8MP_IOMUXC_SAI1_TXD1__AUDIOMIX_SAI1_TX_DATA01		0xd6
			MX8MP_IOMUXC_SAI1_TXD2__AUDIOMIX_SAI1_TX_DATA02		0xd6
			MX8MP_IOMUXC_SAI1_TXD3__AUDIOMIX_SAI1_TX_DATA03		0xd6
			MX8MP_IOMUXC_SAI1_TXD4__AUDIOMIX_SAI1_TX_DATA04		0xd6
		>;
	};

	pinctrl_sai2: sai2grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI2_MCLK__AUDIOMIX_SAI2_MCLK			0xd6
			MX8MP_IOMUXC_SAI2_TXFS__AUDIOMIX_SAI2_TX_SYNC		0xd6
			MX8MP_IOMUXC_SAI2_TXC__AUDIOMIX_SAI2_TX_BCLK		0xd6
			MX8MP_IOMUXC_SAI2_TXD0__AUDIOMIX_SAI2_TX_DATA00		0xd6
		>;
	};

	pinctrl_extcon: extcongrp {
		fsl,pins = <
			MX8MP_IOMUXC_GPIO1_IO05__GPIO1_IO05				0x10
		>;
	};

//	pinctrl_icn6211: icn6211grp {
//		fsl,pins = <
//			MX8MP_IOMUXC_UART3_TXD__GPIO5_IO27          		0x01
//		>;
//	};

};
